// Кольори
$primary-color: #594FFB;
$secondary-violet: #6823FF;
$white-color: #FFFFFF;
$black-color: #000000;
$transparent-black: rgba(255, 255, 255, 0.1);

// Шрифти
$font-primary: "Jura", "Helvetica Neue", Arial, sans-serif;
$font-secondary: 'Lato', Arial, sans-serif;

//Розмір екрану
$mobile-screen: 480px;
$more-than-mobile: 481px;
$tablet-screen: 768px;
$desctop-screen: 1200px;
$big-screen: 1600px;